 .u-section-1 {
  min-height: 920px;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 400px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  width: 124px;
}

.u-section-1 .u-custom-html-2 {
  width: 1264px;
  height: auto;
  min-height: 722px;
  background-image: none;
  margin-top: -366px;
  margin-left: calc(((100% - 1140px) / 2));
  margin-bottom: 0;
}

.u-section-1 .u-custom-html-3 {
  width: 1140px;
  height: auto;
  min-height: 32px;
  margin: -356px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-custom-html-1 {
    margin-right: calc(((100% - 940px) / 2)  + 963px);
  }

  .u-section-1 .u-custom-html-2 {
    width: 940px;
    margin-top: -174px;
    margin-right: auto;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-custom-html-3 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-custom-html-1 {
    margin-right: calc(((100% - 720px) / 2)  + 743px);
  }

  .u-section-1 .u-custom-html-2 {
    width: 720px;
    margin-top: 224px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-custom-html-3 {
    width: 720px;
    margin-bottom: -72px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-custom-html-1 {
    margin-right: calc(((100% - 540px) / 2)  + 563px);
  }

  .u-section-1 .u-custom-html-2 {
    width: 540px;
    margin-top: 585px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-custom-html-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-custom-html-1 {
    margin-right: calc(((100% - 340px) / 2)  + 363px);
  }

  .u-section-1 .u-custom-html-2 {
    width: 340px;
    margin-top: 285px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-custom-html-3 {
    width: 340px;
  }
} Document
    
        body {
            margin: 0;
            padding: 0;
            background-color: #478ac9; /* 배경색 변경 */
            color: white; /* 글자색 변경 */
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        table {
            margin: 20px 0; /* 상하 여백 추가 */
            width: 90%; /* 테이블 너비를 90%로 설정 */
            border-radius: 5px;
            border-collapse: collapse;
            border-top: none;
            max-width: 1200px; /* 최대 너비를 설정 */
        }
        .header {
            background-color: rgb(218, 231, 255);
            text-align: center;
        }
        td, th {
            border-bottom: 1px lightgray solid; 
            height: 30px;
            font-size: 14px;
            padding: 10px; /* 패딩 추가 */
        }
        .num {
            width: 10%; /* 너비를 비율로 설정 */
        }
        .title {
            width: 60%; /* 너비를 비율로 설정 */
        }
        .body {
            text-align: center;
        }
        .body .title {
            text-align: left;
        }
        button {
            width: 100px;
            height: 40px;
            font-size: 15px;
            border: 0;
            outline: 1.5px rgb(68, 136, 244) solid;
            border-radius: 5px;
            padding-left: 10px;
            background-color: rgb(164, 199, 255);
            margin: 20px; /* 버튼 주위 여백 추가 */
        }
        button:active {
            outline: 1.5px rgb(27, 76, 155) solid;
            background-color: rgb(68, 136, 244);
        }
    
    
        
           